h1{
  color: white;
  font-size: 50px;
  font-family:cursive;
  text-align: center;
}
img{
  margin-left: 600px;
  margin-top: 200px;
  width: 300px;
  height: 200px;
  border-radius: 30px;
}
section{
margin-left: 100px;
  background-color: #D62951
;
  width: 1500px;
  height: 800px;
  border-radius: 30px;
}
p{
  color: white;
  font-size: 30px;
  font-family:cursive;
}
a{
  text-align: center;
  color: white;
  text-decoration: none;
}
@media (max-width: 480px) {
  body{
    width: 480px;
    margin: 0px;
  }
  header{
    width: 480px;
  }
  section{
    overflow: scroll;
    margin-left: 0px;
    width: 480px;
  }
  img{
    margin-left: 100px;
  }
}
